.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .modal {
        border: 2px solid #c0c0c0;
        width: 40vw;
        background-color: white;

        &__header {
            padding: 0.25rem 3rem;
            background-color: #eee;
            font-size: 1.25rem;
            font-weight: bold;
            color: #aba6a1;
        }
    }
}
