/*@import "elements/modal.module.css";*/

/*.modalContainer {*/
/*}*/

/*.modal {*/

/*}*/

.inputGroupContainer {
    margin: 0 3rem 1rem 1rem;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputGroup__label {
    width: 30%;
}

.inputGroup__input {
    flex-grow: 1;
    border: 2px solid #ededed;
    /*width: 70%;*/
    height: 2rem;
    padding: 0 0.5rem;
}

.inputGroup__error {
    margin-left: 30%;
    font-size: 0.75rem;
}


.inputGroup__textarea {
    height: 5rem;
    resize: none;
}

.addTagButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    padding: 0 !important;
}

.tagList {
    overflow: auto;
    margin: 0 3rem 1rem 30%;
    max-height: 5rem;
}

.tagList > * {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: start;*/
    margin: 0 0.5rem 0.25rem 0;
    height: 1.75rem;
    padding: 0 1rem !important;
}

.formActions {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.submitButton {
    margin-right: 0.5rem;
}

.error {
    display: flex;
    align-items: center;
    margin: 0 3rem 1rem 1rem;
    min-height: 2rem;
    padding: 0 1rem;
    background-color: #f2dede;
}

.error__message {
    flex-grow: 1;
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

