@import "elements/root.scss";
@import "elements/error.module";
@import "elements/success.module";

.root {
    margin: 1rem auto;
    width: 90%;

    .error {
        margin-bottom: 1rem;
        height: 3rem;

        &__icon {
            font-size: 2rem;
        }
    }

    .success {
        margin-bottom: 1rem;
        height: 3rem;

        &__icon {
            font-size: 2rem;
        }
    }

    .search__submitButton {
        width: 10rem;
    }

    .certificates {

        &__table {
            width: 100%;

            th, td {
                border: 2px solid #848484 !important;
                border-collapse: collapse;
            }

            tr {
                height: 2.5rem;
            }

            tr:nth-child(odd) {
                background-color: white;
            }

            tr:nth-child(even) {
                background-color: #ececec;
            }

            th {
                background-color: #ccc !important;
            }

            td {
                overflow: hidden;
                max-width: 0;
                padding: 0.25rem;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &__pagination {
            position: relative;

            .pagination__perPageSelect {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                display: flex;
                align-items: center;
            }
        }
    }
}

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.cursorPointer {
    cursor: pointer;
}