.modalContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal {
    border: 2px solid #c0c0c0;
    width: 40vw;
    background-color: white;
}

.modalHeader {
    padding: 0.25rem 3rem;
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
    color: #aba6a1;
}

.modalText {
    margin: 3rem 0;
    padding: 0 3rem;
}

.modalActions {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.confirmButton {
    margin-right: 0.5rem;
    width: 5rem;
}

.cancelButton {
    width: 5rem;
}
